<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleExecutable</key><string>FloatingTranslator</string>
  <key>CFBundleIdentifier</key><string>dev.phyo.floatingtranslator</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Floating Translator</string>
  <key>CFBundleDisplayName</key><string>Floating Translator</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleIconFile</key><string>AppIcon</string>
  <key>CFBundleGetInfoString</key><string>A tiny floating tool to translate text in apps that do not offer translation.</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>15.0</string>
  <key>LSUIElement</key><false/>
  <key>NSScreenCaptureUsageDescription</key><string>Read text under the lens when you click Capture or turn on Auto Scan. Audio is not captured.</string>
</dict>
</plist>
